body {
  /* background: url(open_road-wallpaper-2560x1440.jpg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(-45deg, #e0400f, #641d38, #add3e0, #0a8564);
	background-size: 400% 400%;
	animation: gradient 9s ease infinite;

}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.list-overflow-container {
  max-height: 700px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h5 {
  font-family: "Damion", cursive;
  font-size: 60px;
  color: white;
}

.modal-header {
  background: #eb5757; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #eb5757
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #eb5757
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.modal-body {
  font-size: 45px;
  text-align: center;
  background-color: black;
  
 }

 
 h7{
   color: red;
   font-size: 45px;
   font-family: Arial, Helvetica, sans-serif;
 }

 h8{
   color: white;
   font-size:35px;
   text-align: center;
 }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  position: relative;
  float: right;
}
