
h1 {
  transition: transform 0.1s;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



h1 {
  border-bottom: 2px solid rgb(8, 8, 8);
  text-align: left;
  color: white;
  padding: 15px;
  font-size: 30px;
  margin-bottom: px;
}

p{
  float: center;
  text-align: center;
  margin-top: 45px;
  font-size: 25px;
  color: white;

}


section {
  background-color: rgb(8, 8, 8);
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.Next {
  margin-top: 4px;
}

.Previous {
  margin-left: 15px;
  margin-top: 4px;
}

h2{
  float: center;
  text-align: center;
  margin-top: 25px;
  color: white;
}
