h1 {
  border-bottom: 2px solid rgb(8, 8, 8);
  text-align: left;
  color: white;
  padding: 15px;
  font-size: 30px;
  margin-bottom: px;
}

.video{
  margin-left:70px; 
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.Next{
 margin-left: 491px;
 margin-top: 4px;

}

.Previous{
  margin-left: 15px;
  margin-top: 4px;
}