.card{
  background-color: #f3f4f7;
  border-color: rgb(245, 238, 238);
}

.container{
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(155, 15, 15);
  font-size: 19px;
  text-align: center;
  
}


