.card {
  background-color: #f3f4f7;
  border-color: rgb(245, 238, 238);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
}



.container {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(155, 15, 15);
  font-size: 19px;
  text-align: center;

}
  margin-top: 50px;
  margin-bottom: 50px;
   
}

.cards{
  transition: transform .1s;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.cards:hover {
  -ms-transform: scale(0.3); /* IE 9 */
   -webkit-transform: scale(0.5);  
   transform: scale(1.1); 
} 

h1{
  border-bottom: 2px solid brown;
  text-align: left;
  color:black;
  padding: 15px;
  font-size: 30px;
  margin-bottom: px;
}


