.card {
  background-color: #F3F4F7;
  border-color: rgb(245, 238, 238);
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(155, 15, 15);
  font-size: 19px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
h1 {
  transition: transform 0.1s;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cards:hover {
  -ms-transform: scale(0.3); /* IE 9 */
  -webkit-transform: scale(0.5);
  transform: scale(1.1);
}
h1 {
  border-bottom: 2px solid rgb(8, 8, 8);
  font-size: 30px;
  margin-bottom: px;
}
p{
  float: center;
  text-align: center;
  margin-top: 45px;
  font-size: 25px;
  color: white;
}
section {
  background-color: rgb(8, 8, 8);
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.player-wrapper {
  position: relative;
}
.Next {
  margin-left: 491px;
  margin-top: 4px;
}
.Previous {
  margin-left: 15px;
  margin-top: 4px;
}
h2{
  float: center;
  text-align: center;
  margin-top: 25px;
  color: white;
}